<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service Health Status</title>
</head>
<body>

<div th:if="${#authorization.expression('hasRole(''ROLE_admin'')')}">
    <div class="block">
        <ul>
            <li th:each="el : ${list}">
                <div class="product">
                    <table border="1" cellpadding="5">
                        <tr>
                            <td><span th:text="${el.url}"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <table border="1" cellpadding="5">
                                    <tr th:each="s : ${el.services}">
                                        <td><span th:text="${s.name}"></span></td>
                                        <td><span th:text="${s.status}"></span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>

<div th:if="${#authorization.expression('hasRole(''ROLE_user'')')}">
    <div class="block">
        <ul>
            <li th:each="el : ${list}">
                <div class="product" th:if="${el.role.equals('user')}">
                    <table border="1" cellpadding="5">
                        <tr>
                            <td><span th:text="${el.url}"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <table border="1" cellpadding="5">
                                    <tr th:each="s : ${el.services}">
                                        <td><span th:text="${s.name}"></span></td>
                                        <td><span th:text="${s.status}"></span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
