.green {
    background-color: green;
    color: green;
    display: inline-block;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}

.red {
    background-color: red;
    color: red;
    display: inline-block;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}

.black {
    background-color: black;
    color: black;
    display: inline-block;
    border-radius: 50px;
    width: 15px;
    height: 15px;
}

.block {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: 15px;
    width: 95%;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 350px;
    height: 150px;
    padding: 10px;
    margin: 20px;
    background-color: #F2E8C9;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

h2 {
    margin-left: 50px;
}

.endpoint_info {
    margin-left: 15px;
    display: inline-block;
}

.status {
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
}

.list_services {
    margin-left: 15px;
    margin-top: 15px;
}

.head_time {
    font-weight: bold;
    font-size: 18px;
}

.time {
    margin-left: 15px;
    margin-top: 15px;
}

.url {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.info {
    display: flex;
    align-items: center;
}

.user_may {
    margin-left: 15px;
    margin-top: 15px;
}

.crud_status_left {
    font-weight: bold;
    font-size: 18px;
}

.crud_status_right {
    margin-left: 15px;
    margin-top: 15px;
}