<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service Health Status</title>
</head>
<style>
    span[text="active"] {
        color: #3e8e41;
    }
    span[text="inactive"] {
        color: red;
    }
    span[text="no connection"] {
        color: black;
    }
    .green {
        color: green;
    }
    .red {
        color: red;
    }
    .blue {
        color: blue;
    }
</style>
<body>

<div class="block">
    <ul>
        <li th:each="el : ${list.statusEndpoints}">
            <div class="product">
                <table border="1" cellpadding="5">
                    <tr>
                        <td><span th:text="${el.url}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="${list.time}"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <table border="1" cellpadding="5">
                                <tr th:each="s : ${el.services}">
                                    <td><span th:text="${s.name}"></span></td>
                                    <td class="green" th:if='${s.status == "active"}'><span th:text="${s.status}"></span></td>
                                    <td class="red" th:if='${s.status == "inactive"}'><span th:text="${s.status}"></span></td>
                                    <td class="blue" th:else='${s.status == "no connection"}'><span th:text="${s.status}"></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>
</div>

</body>
</html>
